/* ----- The Modal (background) ----- */
#divCompanyView {
    visibility: hidden; /* display: block; */
    opacity: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    transition: visibility 0.3s, opacity 0.3s linear;
}


/* Div Company main view */
#divCompanyViewMain {
    display: grid;
    grid-template-columns: 1fr;
    margin: 6rem auto 0 auto;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 70%;
    background-color: white;
    border-radius: 5%;
    padding: 1rem;
}

    #divCompanyViewName {
        display: grid;
        grid-template-columns: 10% 90%;
        margin: 0 auto;
        width: 100%;
        padding-bottom: 0.7rem;
        border-bottom: 1px solid green;
    }

        #divCompanyViewMain div:nth-child(1) textarea {
            resize: none;
            font-weight: bold;
            background-color: white;
            border: none;
        }

        #divCompanyViewMain div:nth-child(1) label {
            color: gray;
            text-align: center;
        }



/* Geographic data */
#divCompanyViewGeo {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding-bottom: 0.7rem;
    border-bottom: 1px solid green;
}

    #divCompanyViewGeo input {
        border: none;
        background-color: white;     
        font-weight: bold;   
    }

    #divCompanyViewGeo label {
        justify-self: center;
        color: gray;
    }

    #divCompanyViewGeo div:nth-child(1) {
        display: grid;
        grid-template-columns: 8% 32% 8% 32% 8% 12%;
        width: 100%;
        height: 50%;
        margin: 0 auto;
    }

    #divCompanyViewGeo div:nth-child(1) label {
        text-align: center;
    }

    #inputPostalCode {
        text-align: center;
    }

    #divCompanyViewGeo div:nth-child(2) {
        display: grid;
        grid-template-columns: 8% 92%;
        width: 100%;
        height: 50%;
        margin: 0 auto;
    }



/* Industry */
#divCompanyViewIndustry {
    display: grid;
    grid-template-columns: 10% 40% 10% 40%;
    grid-template-rows: auto;
    row-gap: 1rem;
    width: 100%;
    height: 6rem;
    text-align: center;
    padding-bottom: 0.7rem;
    border-bottom: 1px solid green;
}

    #divCompanyViewIndustry label {
        color: gray;
        align-self: center;
    }

    #divCompanyViewIndustry input {
        font-weight: bold;
        border: none;
        background-color: white;
    }



/* Other data */
#divCompanyViewOtherData {
    display: grid;
    grid-template-columns: 22% 12% 22% 12% 16% 16%;
    grid-template-rows: auto;
    row-gap: 1rem;
    width: 100%;
    height: 6rem;
    text-align: center;
    padding-bottom: 0.7rem;
    border-bottom: 1px solid green;
}

    #divCompanyViewOtherData label {
        color: gray;
        align-self: center;
    }

    #divCompanyViewOtherData input {
        font-weight: bold;
        text-align: center;
        background-color: white;
        border: none;
    }



/* Business description */
#divCompanyViewBusiness {
    display: grid;
    grid-template-columns: 12% 88%;
    width: 100%;
    height: 6rem;
    padding-bottom: 0.7rem;
    border-bottom: 1px solid green;
}

    #divCompanyViewBusiness label {
        text-align: center;
        color: gray;
        align-self: center;
    }

    #divCompanyViewBusiness textarea {
        width: 100%;
        height: 100%;
        resize: none;
        background-color: white;
        font-weight: bold;
        border: none;
    }



/* Button */
#divCompanyViewButton {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    margin: 0 auto;    
}

    #divCompanyViewButton button {
        width: 8rem;
        height: 4rem;
        background-color: white;
        border: none;
        font-size: 1.2rem;        
    }

        #divCompanyViewButton button:hover {
            cursor: pointer;
            font-weight: bold;
            font-size: 1.3rem;
            color: green;
        }



