/* Fixed bar */
#fixed-bar {    
    width: 100%;
    height: 7.5rem;
    position: fixed; /* Make it stick/fixed */
    top: 0rem; /* Stay on top */
    transition: top 0.4s; /* Transition effect when sliding down (and up) */
    background-color: white;
}

#div-inner-bar {
    display: grid;
    grid-template-columns: 12% 52% 12% 12% 12%;
    justify-content: center;
    align-items: center;    
    width: 70%;
    height: 100%;
    margin: 0 auto;
    border-bottom: 3px solid green;
    text-align: center;
}    

#div-radio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    width: 75%;
}    
    #div-radio button:nth-child(1) {
        background: radial-gradient(white 70%, var(--green_60));
    }

.label-fixed-bar {
    margin: 0 auto;
    width: 8rem;
    height: 4rem;
    font-size: 1.2rem;
    border: none;
    background-color: white;    
    text-align: center;    
}
    .label-fixed-bar:hover {
        color: green;
        font-weight: bold;        
        cursor: pointer;
    }



/* Name of the element */    
#divElementName {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 0.5rem;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}
    #divElementName label {
        font-size: 1.3rem;
    }

    #spanName {
        margin-left: 1rem;
        font-size: 1.1rem;
    }



/* Comments */
#divElementComments {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    margin: 2rem auto 0 auto;
    width: 70%;
}

    #divElementComments label {
        font-size: 1.4rem;        
        margin: 1rem;
        text-align: center;        
    }

        #divElementComments label:hover {
            cursor: pointer;
        }

    #spanComments {
        font-size: 1.1rem;
        margin-left: 1rem;
    }



/* Definitions, symptoms and questions. */
#div-definitions {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    width: 70%;
}
    #div-definitions div:first-child {
        display: grid;
        width: 40%;
        margin: 0 auto;
        text-align: center;
    }

    #div-definitions div:nth-child(2) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        justify-content: center;
        align-items: center;
        margin: 1rem auto;
        width: 35%;
    }

    .definitionsFirstChild {
        background: radial-gradient(white 60%, var(--green_60));
    }

        #div-definitions div:nth-child(2) label {
            text-align: center;
            font-size: 1.2rem;
            margin: 1rem;
        }
            #div-definitions :nth-child(2) label:hover {
                cursor: pointer;
                font-weight: bold;
            }

        #div-definitions div:nth-child(3) {
            display: grid;
            grid-template-columns: 1fr;
            justify-content: center;
            align-items: center;
            margin: 1rem auto;
            width: 80%;
        }            



/* Assess component */
#div-assess {
    display: grid;
    grid-template-columns: 1fr;    
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2rem auto 0 auto;
    width: 70%;
}

    #div-assess div:first-child {
        display: grid;
    }

    #div-assess div:first-child label {
        font-size: 1.2rem;
        text-align: center;
    }

    #div-assess div:nth-child(2) {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: auto;
        justify-content: center;
        align-items: center;
        margin: 1rem auto;
        width: 60%;
    }
        .assessOneFirstChild {
            background: radial-gradient(white 60%, var(--green_60));
        }

        #div-assess div:nth-child(2) label {
            text-align: center;
            font-size: 1.2rem;
            margin: 1rem;
        }
            #div-assess :nth-child(2) label:hover {
                cursor: pointer;
                font-weight: bold;
            }

        #div-assess div:nth-child(3) {
            display: grid;
            grid-template-columns: 1fr;
            justify-content: center;
            align-items: center;
            margin: 1rem auto;
            width: 80%;
        }

            



